process {
executor = 'lsf'
queue = 'pipeline'
clusterOptions = '-P bio -n 8 -R "span[hosts=1]"'
}

trace {
    enabled = true
    file = 'pipeline_trace.txt'
    fields = 'task_id,hash,name,process,status,exit,container,cpus,time,disk,memory,rss,%cpu,%mem,vmem,peak_rss,peak_vmem,submit,start,complete,duration,realtime,rchar,wchar,read_bytes,write_bytes,workdir'
}
